DB_URL=jdbc:postgresql://localhost:5432/nyumba_db
DB_USER=postgres
DB_PASSWORD=madtitan634

JWT_SECRET=O3X0Z3Ph5WvqV2e6/GXPjK2dtJsVohXHjzvIMYn8F/dvWXVnX3wg/lGsbULRAg8f
JWT_EXPIRATION=86400000

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=nyumba
RABBITMQ_PASSWORD=nyumba_server

AWS_REGION=us-east-1
AWS_BUCKET=nyumba-media
AWS_ACCESS_KEY=your_aws_access_key
AWS_SECRET_KEY=your_aws_secret_key

PORT=8080
